
<script type="text/javascript" src="~/DeanD3/d3Test.js" charset="utf-8"></script>
<script type="text/javascript" src="~/Scripts/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.1.0.min.js" chartset="utf-8"></script>
<script type="text/javascript" src="~/Scripts/plotly-latest.min.js" charset="utf-8"></script>


<h2>Index</h2>

<p>
   
</p>
    
<div id="myDiv"></div>
<div id="example"></div>

